<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title + ' | BAR電脳猫'  || "BAR電脳猫" %></title>
  <link rel="stylesheet" href="/assets/css/template.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/script.js" defer></script>
</head>
<body class="parent">