<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title + ' | BAR電脳猫'  || "BAR電脳猫" %></title>
  <link rel="stylesheet" href="/assets/css/template.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <div class="container">
    <nav class="sidebar">
      <ul>
        <li><a href="/"><img class="logo-img" src="/assets/img/logo-dennoneko.png" srcset="/assets/img/logo-dennoneko.png 1x, /assets/img/logo-dennoneko@2x.png 2x" alt="BAR電脳猫" ></a></li>
        <li><a href="/">インスタンス割テキスト変換ツール</a></li>
      </ul>
    </nav>
    <main class="content">