<%- include('partials/header') %>

<!-- <div class="parent"> -->
  <div class="child-box">
    <h1 class="glitch">インスタンス割テキスト変換ツール</h1>
    <form id="dataForm" action="/process" method="POST">
        <textarea id="inputText" class="input" name="inputText" placeholder="> ここにインスタンス割を入力してください。" required></textarea>
      <button class="btn" type="submit"><span class="text">変換する</span></button>
    </form>
  </div>
<!-- </div> -->

<%- include('partials/footer') %>