<%- include('partials/header') %>

    <div class="child-box">
        <h1 class="glitch">変換結果</h1>
        <div id="result">
            <% messages.forEach(function(message) { %>
                    <textarea class="input" readonly><%= message %></textarea>
            <% }) %>
        </div>
        <a href="/" class="btn btn-back"><span class="text">戻る</span></a>
    </div>

<%- include('partials/footer') %>