@font-face {
  font-family: '瀞ノグリッチ黒体';
  src: url('/assets/fonts/瀞ノグリッチゴシックH1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* grid displaying */
.parent {
  display: grid;
  place-content: center;
  place-items: center;
}

.child-box{
  max-width: 70vw;
}

body {
  color: #EEE;
  padding: 2% 0;
  text-align: center;
  background-image: 
    linear-gradient(rgba(26, 26, 26, 0.9), rgba(26, 26, 26, 0.9)), 
    url("/assets/img/background-dennoneko.jpg");
  background-position: center;
  font-family: "瀞ノグリッチ黒体", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

textarea {
  width: 100%;
  height: 560px;
  font-size: 16px;
  border-radius: 8px;
  font-family: "瀞ノグリッチ黒体", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

button{
  width: 100%;
  font-family: "瀞ノグリッチ黒体", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* margin */
.mb-32{
  margin-bottom: 32px;
}

/* From Uiverse.io by adamgiebl */ 
/* form */
.input {
  color: #000;
  font-size: 0.9rem;
  background-color: #FFF;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
  outline: none;
}

.input:focus + .input-border {
  width: 100%;
}

.form-control {
  position: relative;
  --width-of-input: 300px;
}

.form-control ::placeholder {
  color: #C0C0C0;
}

.input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #FF00FF 0%, #00FFFF 50%, #FFFF00 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
}

/* From Uiverse.io by cssbuttons-io */ 
/* button */
button {
  align-items: center;
  background: linear-gradient(135deg, #FF00FF, #00FFFF, #FFFF00);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 80%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

/* text */
.glitch {
  font-size: 48px;
  color: #00FFFF;
  position: relative;
  text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF;
  animation: flicker 1.5s infinite;
}

.glitch::before {
  animation: glitchTop 1s infinite;
  color: #ff00ff;
  clip-path: inset(0 0 50% 0);
}

.glitch::after {
  animation: glitchBottom 1s infinite;
  color: #00FFFF;
  clip-path: inset(50% 0 0 0);
}

@keyframes glitchTop {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, -1px); }
  60% { transform: translate(-1px, 1px); }
  80% { transform: translate(2px, 0); }
  100% { transform: translate(0, 0); }
}

@keyframes glitchBottom {
  0% { transform: translate(0, 0); }
  20% { transform: translate(2px, 1px); }
  40% { transform: translate(-1px, -1px); }
  60% { transform: translate(1px, 2px); }
  80% { transform: translate(-2px, -1px); }
  100% { transform: translate(0, 0); }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.1;
  }
}